terratowns_endpoint="https://terratowns.cloud/api"
turnbased_rgp = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/rpgGame/"
  content_version = 1
}
bucket_name = "value"
teacherseat_user_uuid = "value"
terratowns_access_token = "value"

spindisc_bar = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/spinDisc"
  content_version = 1
}